
@media screen and (max-width: 460px) {
  .input {
    width: 100%;
    height: 40px;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .btn {
    width: 100%;
    height: 40px;
  }
}
@media screen and (min-width: 461px) {
  .input {
    width: 300px;
  }
  .form {
    display: flex;
    gap: 10px;
    height: 40px;
  }
}

.input {
    font-size: inherit;
}

.btn {
    font-size: inherit;
    background-color: #97010E;
    border: none;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover, .btn:active {
    background-color: #F34C3F;
}
